.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5) /* last argument (0.5) is the transperency */
    /*   z-index:: An element with greater stack order is always in front of an element with a lower stack order. */


}